body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  text-align: center;
}

.report-container {
  margin-left: 15%;
}

.progress {
  width: 50%;
  height: 250px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  position: relative;
  justify-content: center;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 10;
  left: 50;
}

/* @keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
} */

.content-container {
  margin-left: 15%;
}

.table-container {
  display: grid;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 20px;
}

.card {
  width: 80%;
}

.table {
  width: 100%;
  margin-bottom: 0;
}

th {
  background-color: rgb(162, 162, 207);
}

td {
  padding-bottom: 1px;
}
